
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.customerList{


}

html{
  font-size: 62.5%;
}

table {
  margin: 8rem auto;
  border-radius: 2rem;
  border: 1rem hidden #fcaf20;
  border-collapse: collapse;
  box-shadow: 0 0 0 1px rgb(247, 170, 15);
  overflow: hidden;
  /* max-width: 80rem; */
}

li, p, a, td{
  font-size: 1.6rem;
  line-height: 1.6;
}

thead {
  font-size: 1.8rem;
  background-color: #fca429;
  color: #fff;
}

th,
td {
  border: 1px solid #faca2a;
  min-width: 30rem;
  padding: 1.5rem;
  line-height: 1.7;
}

td {
  font-size: 1.4rem;
}

