.header img{
    height: 80px;
}  

.header{
    text-align: center;
}

.header nav{
    background-color: black;
    text-align: center;
    line-height: 45px;
}

.header nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 30px;
    padding: 5px;
}

.header nav a:hover{
    background-color: gray;
}

